<div class="container">
  <section class="section">
    <div class="row">
      <div class="col-xs-12 chart-canter">
        <ngx-charts-line-chart
          [view]="[1050,300]"
          [results]="data"
          [gradient]="false"
          [legend]="false"
          [xAxis]="true"
          [yAxis]="true"
          [autoScale]="true"
          [timeline]="false">
        </ngx-charts-line-chart>
      </div>
    </div>
  </section>
</div>