<div class="container">
      <div class="row">
          <div class="col-3">
            <label>Starting from(week)</label>
            <select class="form-control" 
              [(ngModel)]="start"
              name="start"
              #strt="ngModel"
              >
             <option *ngFor="let week of weeks">{{week}}</option>
            </select>
          </div>
          <div class="col-3">
            <label>Ending(week)</label>
            <select class="form-control"
             [(ngModel)]="end"
             name="end"
             #en="ngModel"
             >
              <option *ngFor="let week of weeks">{{week}}</option>
            </select>
          </div>
          <div class="col-4">
            <label>Monitored parameter</label>
            <select class="form-control" [(ngModel)]="parameter">
              <option *ngFor="let param of params">{{param}}</option>
            </select>
          </div>
          <div class="col-2 btn-cls">
            <button class="btn btn-primary" 
            (click)="checkValue(start, end, parameter)" 
            [disabled]="start > end"
            >Check</button>
          </div>
    </div>
</div>
