<div class="container">
    <h1 class="headline">Data from 2015</h1>
</div>
<app-form 
    (onChanged)="onChanged($event)"
    [start]="startDate"
    [end]="endDate"
></app-form>
<div class="container">
        <app-pie-chart 
        [data]="pieChartData"
        (onSelected)="onSelected($event)"
        ></app-pie-chart>
</div>
<div class="container">
    <span>The following parametrs are selected.
        <span *ngIf="categories.length > 1">Categories: all</span>
        <span *ngIf="categories.length === 1">Category :{{categories[0]}}</span>. Start date: {{startDate}}. End date: {{endDate}}. Parameter: {{param}}</span>
    
</div>
<app-line-chart [data]="lineChartData"></app-line-chart>
<div class="container">
    <button type="button" class="btn btn-link" (click)="resetAll()">Reset all</button>
</div>


